@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin-ext);

@default_font_color: #3e3e3e;
@default_font: 'Open Sans', sans-serif;

body {
    font-family: @default_font;
    color: @default_font_color;
    text-align: justify;
    padding: 15px;
    margin: 0px;
}

a {
    font-weight: 800;
    color: #808080;
    text-decoration: none;
    .Tranzite(color, 0.5);
}

a:hover {
    color: #626262;
}

#top, #bottom, #left, #right {
    background: #4DAFCB;
    position: fixed;
    z-index: 999;
}
    #left, #right {
        top: 0;
        bottom: 0;
        width: 15px;
    }
        #left { left: 0; }
        #right { right: 0; }

    #top, #bottom {
        left: 0;
        right: 0;
        height: 15px;
    }
        #top { top: 0; }
        #bottom { bottom: 0; }
