// main: main.less
/**
 * @author Miroslav Cibulka
 * @brief index.html (main-menu) style sheet
 */

/* index.html */
#container {
    #ref {
        width: @menu_icon_size * 2 + 80;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 200px;
        z-index: 0;
        background-image: url("/images/Logo.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center 0px;

        a {
            display: inline-block;
            font-size: 150%;
            width: @menu_icon_size + 10px;
            padding-right: 10px;
            text-align: right;
            font-family: 'Petit Formal Script', cursive;
            color: #808080;
            .Tranzite(color, 0.5s);
        }

        a:hover {
            color: #9D9D9D;
        }

        /* Buttons in main menu */
        .button {
            display: inline-block;
            width: @menu_icon_size;
            height: @menu_icon_size;
            margin: 0;
            padding: 5px;
            z-index: 3;

            .icon {
                display: inline-block;
                width: 100%;
                height: 100%;
                z-index: 4;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;

                opacity: 0.9;
                .Tranzite(opacity, 1s);
                box-shadow: none;

                +.nadpis {
                    content: attr('title');
                    font-family: 'Petit Formal Script', cursive;
                    color: #808080;
                    text-align: center;
                    font-size: 25px;

                    width: @menu_icon_size - 6;
                    pointer-events: none;

                    margin-top: -@menu_icon_size/2 - 20px;
                    margin-bottom: @menu_icon_size/2 - 20px;

                    position: absolute;
                    display: block;
                    z-index: 5;

                    .Tranzite(opacity, 1s);
                    opacity: 0;
                }

                &:hover {
                    opacity: 0.4;
                    box-shadow: 2px 2px 5px #808080;

                    +.nadpis {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
