/**
 * @author Miroslav Cibulka
 * @brief main style sheet
 */
/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Arizonia&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin-ext);
@font-face {
  font-family: Impregnable;
  src: local(Impregnable) url(/fonts/Impregnable.ttf) format('opentype');
}
@font-face {
  font-family: "Script mt std bold";
  src: url(/fonts/scriptmtstd-bold.otf) format('opentype');
}
/*Imports*/
html {
  margin: 10px;
  overflow: hidden;
}
body {
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3e;
  text-align: justify;
  border: 1px solid #656565;
  margin: 10px;
}
p {
  padding-bottom: 5px;
}
a {
  font-weight: 800;
  color: #808080;
  text-decoration: none;
  transition: color 0.5;
  -moz-transition: color 0.5;
  -ms-transition: color 0.5;
  -webkit-transition: color 0.5;
  -o-transition: color 0.5;
}
a:hover {
  color: #626262;
}
/**
 * @author Miroslav Cibulka
 * @brief index.html (main-menu) style sheet
 */
/* index.html */
#container #ref {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  z-index: 0;
  background-image: url("/images/logo.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 0px;
}
#container #ref a {
  width: 290px;
  display: inline-block;
  font-size: 220%;
  font-family: "Script mt std bold";
  color: #c0c0c0;
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
}
#container #ref a:hover {
  color: #9D9D9D;
}
.picture {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: auto;
  height: auto;
  max-height: 100%;
}
/* Buttons in main menu */
.button {
  display: inline-block;
  width: 290px;
  height: 290px;
  margin: 0;
  margin: 5px;
  z-index: 4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  box-shadow: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.button .nadpis {
  font-family: "Script mt std bold";
  font-size: 40px;
  color: #808080;
  pointer-events: none;
  width: 290px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 5;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  opacity: 0;
}
.button:after {
  content: '';
  width: 290px;
  height: 290px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0;
  transition: opacity 1s, color 1s !important;
  -moz-transition: opacity 1s, color 1s !important;
  -ms-transition: opacity 1s, color 1s !important;
  -webkit-transition: opacity 1s, color 1s !important;
  -o-transition: opacity 1s, color 1s !important;
}
.button:hover:after {
  opacity: 0.7;
  box-shadow: 2px 2px 5px #808080;
  z-index: 3;
}
.button:hover .nadpis {
  opacity: 1;
}
#container #banner {
  z-index: 999;
  background-image: url("/images/logo.png");
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
  cursor: pointer;
}
#container #pininterest-side-bar {
  position: absolute;
  left: -200px;
  top: 350px;
}
#container #facebook-side-bar {
  position: absolute;
  right: -200px;
  top: 350px;
  padding: 4px;
  box-shadow: 0px 0px 3px #808080;
  border-radius: 2px;
  border-color: #808080;
}
/*Basic Colors*/
/*Constants*/
/**
 * @brief Set transition
 * @param @x which property will be transited
 * @param @t duration of transition (default 1s)
 */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
#container {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}
